mixin production()
    +b.SECTION.production
        +e.DIV.container
            +title({"text": "ПРОДУКЦИЯ"})
            +b.DIV.product-list
                +e.DIV.item
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Визитки",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Бланки",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее 
                +e.DIV.item
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Блокноты",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее 
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Флаера",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Билеты",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Листовки",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item
                    +e.IMG.ico(src="img/icons/prod1.svg") 
                    +item-price({"title": "Буклеты",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Папки",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее 
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Каталоги",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item
                    +e.IMG.ico(src="img/icons/prod1.svg") 
                    +item-price({"title": "Календври",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item 
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Плакаты",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item1(class="drop-down")
                    +e.DIV.item-item(class="not-active")
                        +e.IMG.ico(src="img/icons/prod1.svg")
                        +item-price({"title": "Упаковка",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                        +b.A.btn(href="###" class="btn-prod") подробнее 
                    +e.P.item-btn
                        | Посмотреть всю продукцию
                +e.DIV.item(class="not-active active")
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Этикетки",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item(class="not-active active")
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Брошюры",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                +e.DIV.item(class="not-active active")
                    +e.IMG.ico(src="img/icons/prod1.svg")
                    +item-price({"title": "Конверты",
                                 "text1": "225 грн",
                                    "text2": " - 1000 шт",
                                "text3": "990 грн",
                                    "text4": " - 5000 шт"})
                    +b.A.btn(href="###" class="btn-prod") подробнее
                