mixin item-price(data)
    +b.DIV.item-price
        +e.H2.title= data.title
        +e.P.text1= data.text1
            +e.SPAN.text2= data.text2
        +e.P.text3= data.text3
            +e.SPAN.text4= data.text4
        
    
